<!doctype html>
<link rel="stylesheet" type="text/css" href="/css/autocomicftp.css" />
<title>Autocomic for the people</title>
<body>
{% if comicview is defined %}
    <table border="1">
        <caption>{{comicview.title}}</caption>
        {% for row in comicview.layout %}
	    <tr>
	    {% for el in row %}
                <td><img src="{{ el[0]['link'] }}"/></td>
            {% endfor %}
	    </tr><tr>
	    {% for el in row %}
	        <td>{{ el[1] }}</td>
	    {% endfor %}
	    </tr>
        {% endfor %}
        </table>
{% endif %}
<form method="post">
Title: <input type="text" name="title" {% if comicview is defined %} value="{{comicview.title}}" {% endif %}</input>
  Comic script: <textarea name="script" rows="10" cols="30">
  {{ comicview.script|join('\n') }}
  </textarea>
  <input type="submit"/>
  </table>
</form>
</body>
</html>
